* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

/* HEADER */

#navbar {
  background: #333;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar .container ul {
  display: flex;
  padding-right: 1rem;
}

#navbar .container ul li {
  list-style: none;
}

#navbar .container ul li a {
  padding: 20px;
  display: block;
}

#navbar .container h1 {
  text-transform: uppercase;
  padding-left: 1.5rem;
}

#navbar ul li a:hover,
#navbar ul li.current {
  background: #555;
  color: orange;
}

/* SECTION */
#showcase .container {
  display: flex;
  flex-direction: column;
  height: 70vh;
  background: url(./img/pane\ principale.jpg) no-repeat center center/cover;
  justify-content: center;
  align-items: center;
}

#showcase .container h1 {
  color: #fff;
  font-size: 3rem;
}

#showcase .container p {
  color: #fff;
  font-size: 1rem;
}

.color-primary {
  color: orange;
}
